$form-dim: 35px;

.login-container{
	position: relative;
	overflow: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: $mynavy;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
	perspective: 1000px;
	
}
.main-login-container{
	position: fixed; 
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background: red;
}


.login-cnt{
		position: relative;
		top: 50%;
		height: 315px;
		transform: translateY(-170px);
		a{
			font-size: 0.85em;
		}
		
}

.login-cnt a{
	
	color: $another_grey;
	&:hover{
		color: $another_grey;
		text-decoration: underline;
	}
}



@media #{$small-only}{
	.login-cnt .form-input-column{
		padding: 0;
		margin: 0;
		margin-bottom: 5px;
	}

	.login-cnt .notification{
		margin-top: 10px;
		margin-bottom: 10px;
		.notification-cont{
			padding: 10px 3px;
			height: 40px;
			font-size: 0.8em;
		}
	}

	.login-cnt span.prefix{
		font-size: 1em;
		padding-left: 7px;
	}
	.login-cnt button{
		width: 100%;
	}

	.login-cnt .button-column{
		margin: 15px 0 0 0;
	}

}

@media #{$small-up} { 
	.login-cnt .notification{
		padding: 0;
		transform: rotateX(-90deg);
		transform-style: preserve-3d;
		transition: all 0.3s;
		opacity: 0;
		transform-origin: 100% 35px;

		&.active{
			opacity: 0.8;
			transform: rotateX(0deg);
		}
		.notification-cont{
			background: $red1;
			font-weight: 300;
		}
	}
	
	.login-cnt span.prefix{
		color: $mynavy;
		text-align: center;
		height: $form-dim;
		line-height: $form-dim;
		border: none;
		background: #fff;
	}
	.login-cnt .acolumn{
		padding: 0 ;
		margin: 0;
	}
	.login-cnt input{
		height: $form-dim;
		border: none;
		box-shadow: none;
		font-size: 0.9em;
		font-weight: lighter;
		background: #fff;
		color: $typo_grey;
		margin: 0;
	}
	.login-cnt .error-columns{
		height: 20px;
		color: $gold;
		font-size: 0.8em;
	}
	.login-cnt button{
		height: $form-dim;
		line-height: $form-dim;
		padding: 0 30px;
		border-radius: 3px;
		font-weight: 300;
		font-size: 0.8em;
		letter-spacing: 1px;
		margin: 0;
		width: 100%;
	}

}

@media #{$medium-up} {
	.login-cnt .notification{
		.notification-cont{
			margin: 0 4px 15px 3px;
			padding: 10px;
			height: 50px;
		}
	}

	.login-cnt{
		height: 165px;
		transform: translateY(-130px);
		span.prefix{
			font-size: 1.2em;
		}
		input[type="password"]{
			border-radius: 0 3px 3px 0;	
		}
		.acolumn{
			padding: 0 5px ;
			margin: 0;
		}
		.fi-torso{
			border-color: #fff;
			border-radius: 3px 0 0 3px;	
		}
		.form-input-column{
			padding: 0 3px;
		}
		
		.button-column{
			margin-top: 20px;
		}
	}	
}

@media #{$large-up} {
	.login-cnt span.prefix{
		padding: 0 10px;
		font-size: 1.3em;
	}
}


