// red
$red1: #c0392b;
$red2: #A5281B;
$red3: #b30000;

$red4: #d24d57;
$red5: #f22613;
$red6: #d91e18;
$red7: #96281b;
$red8: #ef4836;
$red9: #d64541;
$red10: #c0392b;
$red11: #cf000c;
$red12: #e74c3c;


// pink
$pink1: #db0a5b;
$pink2: #f64747;
$pink3: #f1a9a0;
$pink4: #d2527f;
$pink5: #e08283;
$pink6: #f62459;
$pink7: #e26a6a;

// purple
$purple1: #dcc6e0;
$purple2: #663399;
$purple3: #674172;
$purple4: #aea8d3;
$purple5: #913d88;
$purple6: #9a12b3;
$purple7: #bf55ec;
$purple8: #be90d4;
$purple9: #8e44ad;
$purple10: #9b59b6;

// blue
$blue1: #deebf7;
$blue2: #9ecae1;
$blue3: #3182bd;
$blue4: #446cb3;
$blue5: #e4f1fe;
$blue6: #4183d7;
$blue7: #59abe3;
$blue8: #81cfe0;
$blue9: #52b3d9;
$blue10: #c5eff7;
$blue11: #22a7f0;
$blue12: #3498db;
$blue13: #2c3e50;
$blue14: #19b5fe;
$blue15: #336e7b;
$blue16: #22313f;
$blue17: #6bb9f0;
$blue18: #1e8bc3;
$blue19: #3a539b;
$blue20: #34495e;
$blue21: #67809f;
$blue22: #2574a9;
$blue23: #1f3a93;
$blue24: #89c4f4;
$blue25: #4b77be;
$blue26: #5c97bf;

// green
$green1: #4ecdc4;
$green2: #a2ded0;
$green3: #87d37c;
$green4: #90c695;
$green5: #26a65b;
$green6: #03c9a9;
$green7: #68c3a3;
$green8: #65c6bb;
$green9: #1bbc9b;
$green10: #1ba3dc;
$green11: #66cc99;
$green12: #36d7b7;
$green13: #cbf7c5;
$green14: #86e2d5;
$green15: #2ecc71;
$green16: #16a085;
$green17: #3fc380;
$green18: #019875;
$green19: #03a678;
$green20: #4daf7c;
$green21: #2abb9b;
$green22: #00b16a;
$green23: #1e824c;
$green24: #049372;
$green25: #26c281;

// yellow
$yellow1: #f5d76e;
$yellow2: #f7ca18;
$yellow3: #f4d03f;

// orange
$orange1: #fde3a7;
$orange2: #f89406;
$orange3: #eb9532;
$orange4: #e87e04;
$orange5: #f4b350;
$orange6: #f2784b;
$orange7: #eb974e;
$orange8: #f5ab35;
$orange9: #d35400;
$orange10: #f39c12;
$orange11: #f9690e;
$orange12: #f9bf3b;
$orange13: #f27935;
$orange14: #e67e22;

// grey
$grey1: #ececec;
$grey2: #6c7a89;
$grey3: #d2d7d3;
$grey4: #eeeeee;
$grey5: #bdc3c7;
$grey6: #ecf0f1;
$grey7: #95a5a6;
$grey8: #dadfe1;
$grey9: #abb7b7;
$grey10: #f2f1ef;
$grey11: #bfbfbf;
$grey12: #e7e7e7;

// navy 
$navy1 : #0B0B3B;
$navy2 : #2d3956;
$navy3: #66718b;
$navy4: #2D4D57;



